[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
psycopg2-binary = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.8"

[packages.drf-yasg]
extras = [ "validation",]
